<h1>Edit Page</h1>
<%= @book.title %>

<%= form_for @book do |f| %>
<p>
    <%= f.text_area :description, placeholder: 'enter body text' %>
    <% if @book.errors.messages[:description].any? %>
    <span class="error"><%= @book.errors.messages[:description][0] %></span>
    <% end %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>