<h1>Add New Page</h1>
<%= form_with(model: @book, local: true) do |form| %>
<%= form.label :title %>
<%= form.text_field :title, id: 'book_title' %>

<%= form_for @book do |f| %>
<p>
    <%= f.text_area :description, placeholder: 'enter body text' %>
    <% if @book.errors.messages[:description].any? %>
    <span class="error"><%= @book.errors.messages[:description][0] %></span>
    <% end %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
<% end %>