<h2><%= @book.title %></h2>
<p><%= simple_format @book.description %></p>


<h3>Comments</h3>
<% if @book.comments.any? %>
<ul>
<% @book.comments.each do |comment| %>
<li>
    <%= comment.description %>
    P<%= comment.pages %>
    <%= link_to "delete", book_comment_path(@book, comment), 
    data: { turbo_method: :delete, turbo_confirm: 'Sure?'}%>
</li>
<% end %>
</ul>
<% end %>
<%= form_for ([@book, @book.comments.build]) do |f| %>
<p>
    <%= f.text_field :description, placeholder: 'コメントを入力'%>
</p>
<p>
    <%= f.number_field :pages, placeholder: 'ページ数を入力'%>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>